.layout {
  min-height: 100vh;
}

.content {
  margin: 16px;
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  min-height: calc(100vh - 64px - 32px);
  overflow: auto;
}

:global(.dark) .content {
  background: #141414;
}
