.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff !important;
  padding: 0 24px !important;
  border-bottom: 1px solid #f0f0f0;
  height: 64px;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}
